<!DOCTYPE html>
<html lang="en" data-theme="bumblebee">
  <head>
    <meta charset="UTF-8" data-theme="bumblebee"/>
    <title>Panel</title>
    {% include 'tailwind.html' %}
  </head>
  <body style="font-family: 'Inter', sans-serif;">
    <div class="antialiased">
    {% include 'home/sidebar.html' %}
    <main class="p-4 md:ml-64 h-auto pt-20  min-h-screen">
      <h1 class="text-2xl lg:text3xl font-bold">Mon compte :</h1>
      <p>{{ session['email'] }}</p>
      <p>{{ session['ja_id'] }}</p>
      <p>{{ session['ip'] }}</p>
    </main>
    </div>
  </body>
</html>
-