<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Panel</title>
    {% include 'tailwind.html' %}
  </head>
  <body style="font-family: 'Inter', sans-serif;">
    <div class="antialiased bg-gray-100 dark:bg-gray-900">
      {% include 'home/sidebar.html' %}
      <main
        class="p-4 md:ml-64 h-auto pt-20 text-gray-900 dark:text-gray-50 min-h-screen"
      >
        <h1 class="text-2xl lg:text-3xl font-bold">Domaine</h1>
        <div class="flex items-center font-normal text-gray-500 list-inside dark:text-gray-400">
          {% if data is equalto None %}
            <svg class="w-3.5 h-3.5 me-2 text-gray-500 dark:text-gray-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
         </svg>
        <p>Aucun domaine n'est lié à votre compte. Boutton à venir qui call la fonction avec un pti form post sur cette route</p>
          {% else %}
           <svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
         </svg>
            <p>Votre site est lié au domaine {{ data }}</p>
          {% endif %}
          </div>
        </p>
      </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>
