<!DOCTYPE html>
<html lang="en" data-theme="bumblebee">
  <head>
    <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Éditeur</title>
    {% include 'tailwind.html' %}
  </head>
  <body>
    <div class="flex-1 antialiased">
      {% include 'home/sidebar.html' %}
      <main
        class="md:ml-64 max-h-screen text-neutral"
      >
        <iframe
          id="inlineFrameExample"
          title="Inline Frame Example"
          class="w-full h-screen max-h-screen"
          src="{{ url_for('route_beta') }}">
        </iframe>
      </main>
    </div>
  </body>
</html>
