<!DOCTYPE html>
<html lang="en" data-theme="bumblebee">
  <head>
    <meta charset="UTF-8" />
    <title>Hébergement</title>
    {% include 'tailwind.html' %}
  </head>
  <body style="font-family: 'Inter', sans-serif;">
    <div class="antialiased">
      {% include 'home/sidebar.html' %}
      <main
        class="p-4 md:ml-64 h-auto pt-20  min-h-screen"
      >
        <h1 class="text-2xl lg:text-3xl font-semibold">Status du site de {{ session['name'] }}</h1>
        <p>Statut actuel : {{ status }}</p>
          <p class="text-red-400 font-bold " >{{ error }}</p>
          <form action="" method="post" class="flex">
              <label for="domain">Nom de domaine</label>
              <input type="text" name="domain" id="domain"
                class="lowercase bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-sky-600 block max-w-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="{{ session["name"].lower() }}" value="{{ domain }}" required><p>.devlowave.fr</p>
              <button type="submit" name="heberger" value="heberger">Héberger</button>
          </form>
      </main>
    </div>
  </body>
</html>
