<!DOCTYPE html>
<html lang="en" data-theme="bumblebee">
  <head>
    <meta charset="UTF-8" />
    <title>Panel</title>
    {% include 'tailwind.html' %}
  </head>
  <body style="font-family: 'Inter', sans-serif;">
    <div class="antialiased">
    {% include 'home/sidebar.html' %}
    <main class="p-4 md:ml-64 h-auto pt-20 min-h-screen">
      <h1 class="text-4xl lg:text3xl font-bold">Bienvenue sur Devloweb, {{ session['name'] }}!</h1>
        <div class="card-body" id="show_data">
            <br>
            <div class="grid gap-4">
              <!-- Tutoriels -->
              <div class="card bg-base-100 w-full shadow-sm">
                <div class="card-body">
                  <h2 class="card-title font-bold md:text-2xl">Tutoriels</h2>
                  <div class="flex flex-col md:flex-row gap-4">
                    <iframe class="rounded-lg border-2 border-base-300 w-full md:w-1/3 h-46 md:h-56" src="https://www.youtube.com/embed/GBIIQ0kP15E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe class="rounded-lg border-2 border-base-300 w-full md:w-1/3 h-46 md:h-56" src="https://www.youtube.com/embed/4yQZoLmicU0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="card-actions justify-end">
                    <a class="btn btn-error" href="">Voir plus de vidéos</a>
                  </div>
                </div>
              </div>

              <div class="card bg-base-100 w-full shadow-sm">
                <div class="card-body">
                  <h2 class="card-title font-bold md:text-2xl">Tutoriels</h2>
                  <div class="flex flex-row gap-4">
                    {% for i in example_sites %}
                    <li>
                        <a href="https://{{ i[0] }}.devlowave.fr/" class="link link-primary">{{ i[0] }}</a>
                    </li>
                    {% endfor%}
                  </div>
                  <div class="card-actions justify-end">
                    <a class="btn btn-primary" href="">Liste des sites</a>
                  </div>
                </div>
              </div>

            <br>
            </div>
          </div>
    </main>
    </div>
  </body>
</html>