<!DOCTYPE html>
<html lang="en" data-theme="bumblebee">
  <head>
    <meta charset="UTF-8" />
    <title>Panel</title>
    {% include 'tailwind.html' %}
  </head>
  <body style="font-family: 'Inter', sans-serif;">
    <div class="antialiased">
    {% include 'home/sidebar.html' %}
    <main class="p-4 md:ml-64 h-auto pt-20 min-h-screen">
      <h1 class="text-4xl lg:text3xl font-bold">Bienvenue sur Devloweb, {{ session['name'] }}!</h1>
        <div class="card-body" id="show_data">
            <br>
            <div class="grid gap-4">
              <!-- Tutoriels -->
              <div class="bg-base-200 p-4 rounded-lg">
                <div class="text-sm opacity-70 mb-1">
                    <h4 class="card-title text-2xl font-bold mb-4">Nos tutoriels: </h4>
                </div>
                <div class="font-semibold">
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/fsNYtkbWmSs?si=rzG4BrdNNdBf-j6P" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>

              <!-- Tutoriels -->
              <div class="bg-base-200 p-4 rounded-lg">
                <div class="text-sm opacity-70 mb-1">
                    <h4 class="card-title text-2xl font-bold mb-4">Faite grâce à Devloweb: </h4>
                </div>
                <div class="font-semibold">
                    {% for i in example_sites %}
                        <a href="https://{{ i[0] }}.devlowave.fr/">{{ i[0] }}</a>
                    {% endfor%}
                </div>
              </div>
            <br>
            </div>
          </div>
    </main>
    </div>
  </body>
</html>