<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Panel</title>
    {% include 'tailwind.html' %}
  </head>
  <body style="font-family: 'Inter', sans-serif;">
    <div class="antialiased bg-gray-50 dark:bg-gray-900">
    {% include 'admin/sidebar.html' %}
    <main class="p-4 md:ml-64 h-auto pt-20 text-gray-900 dark:text-gray-50 min-h-screen">
      <h1 class="text-2xl lg:text3xl font-bold">Ajouter une page</h1>
      <p>Encore un form</p>
    </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>
