.panel {
    display: flex;
    width: 100%; /* Ensure the panel takes the full width */
}

.search_engine,
.website_details {
    width: 50%; /* Each section takes 50% of the width */
    box-sizing: border-box; /* Include padding and border in the width and height calculations */
}

.search_engine {
    border: solid 2px black;
    padding: 10px; /* Optional: add some padding for aesthetics */
}

.website_details {
    border: solid 2px black; /* Optional: add border for visibility */
    padding: 10px; /* Optional: add some padding for aesthetics */
}

.ja_selector{ /*search_result_content*/
    border: solid 2px black; /* Optional: add border for visibility */
    background-color: white;
    width: fit-content;
    position: relative;
    right: -1%;
}

.ja_selector:hover {
    background-color: yellow;
}

#searchbar{
    width: 50%;
    margin-bottom: 10px;
}

.search_result_content {
    padding-right: 5px; /* Optional: adds some space between the dash and the text */
}

h2, h3{
    margin: 0px;
}

#status_indicator_svg{
    width: 20px;
    height: 20px;
}

.svg_dash_and_result {
    display: flex;
    align-items: center; /* Vertically center the content */
    margin-bottom: 5px;
}

#status_indicator_svg {
    margin-right: 5px; /* Optional: add space between the SVG and the text */
}
