.admin_panel{
    height: 97vh;
    width: 97vw;
    display: flex;
    justify-content: center;
}

.search_area, .website_details_area{
    border: 2px solid black;
    width: 300px;
}

.website_details_area_website_status{
    margin: 1px;
    border: 1px solid black;
}

input[type="checkbox"] {
            width: 15px;
            height: 15px;
            cursor: pointer; /* Looks enabled */
            appearance: none; /* Removes default checkbox styling */
            background-color: lightgrey;
            border: 2px solid #5eff00;
            border-radius: 4px;
            position: relative;
            transition: all 0.3s ease;
}

input[type="checkbox"]:checked::before {
        content: '';
        position: absolute;
        top: -1px;
        left: 2.5px;
        width: 4px;
        height: 9px;
        border: solid #002aff;
        border-width: 0 2px 2px 0;
        transform: rotate(30deg);
}

input[type="checkbox"]:disabled {
        background-color: lightgray;
        border-color: black;
        cursor: pointer; /* Retain pointer cursor */
}

input[type="checkbox"]:disabled:checked::before {
    border-color: #ff4400;
}