<html lang="fr">
<head>
  <title>Proof Of concept</title>
</head>
<body>
    <form action="" method="post">
        <div>
        <input
                  type="text"
                  name="titre"
                  id="titre"
                  placeholder="J'aime les bananes"
                  value="{{ data['titre'] }}"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  required=""
                />
        </div>
        <div>
        <input
                  type="text"
                  name="valeur1"
                  id="valeur1"
                  placeholder="Ma valeur"
                  value="{{ data['valeur1'] }}"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  required=""
                />
        </div>
        <button
        type="submit"
        name="valider"
        id="valider"
        class="w-full text-white bg-sky-600 hover:bg-sky-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800"
        >Valider</button>
    </form>
</body>
</html>