<!DOCTYPE html>
<html lang="en" data-theme="{{ data["general"]["theme"] }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V1 Éditeur</title>
    {% include 'tailwind.html' %}
</head>
<body>
<div class="drawer">
    <div class="drawer-content flex flex-col">
        <button type="submit" class="btn btn-warning fixed top-4 left-1/2 transform -translate-x-1/2 z-10">Enregistrer</button>
        <form action="/editeur/beta/editeur" method="post" enctype="multipart/form-data">
        {% for section in data["general"]["sections"] %}
            {% if section == "nav_section" %}
                {% include 'editor/beta/nav_section.html' %}
            {%  endif %}
            {% if section == "hero_section" %}
                {% include 'editor/beta/hero_section.html' %}
            {%  endif %}
            {% if section == "members_section" %}
                {% include 'editor/beta/members_section.html' %}
            {%  endif %}
            {% if section == "footer_section" %}
                {% include 'editor/beta/footer_section.html' %}
            {%  endif %}
        {% endfor %}
        {% for section in data["general"]["sections"] %}
            {% if section == "nav_section" %}
                    {% include 'editor/beta/mobilnav_section.html' %}
                {%  endif %}
        {% endfor %}
        </form>
    </div>
</div>
</body>
</html>
<script>
    const heroSection = document.getElementById('hero');
    const heroContent = document.getElementById('content');
    const imageInput = document.getElementById('imageInput');

    // Ouvrir le sélecteur de fichiers seulement si la souris est en dehors de la div 'hero-content'
    heroSection.addEventListener('click', (event) => {
        if (!heroContent.contains(event.target)) {
            imageInput.click();
        }
    });

    // Remplacer l'image de fond avec l'image sélectionnée
    imageInput.addEventListener('change', (event) => {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                heroSection.style.backgroundImage = `url(${e.target.result})`;
            };
            reader.readAsDataURL(file);
        }
    });

    // Gérer le drag-and-drop
    heroSection.addEventListener('dragover', (event) => {
        event.preventDefault();
        heroSection.classList.add('drag-over'); // Ajoute une classe pour le style
    });

    heroSection.addEventListener('dragleave', () => {
        heroSection.classList.remove('drag-over');
    });

    heroSection.addEventListener('drop', (event) => {
        event.preventDefault();
        heroSection.classList.remove('drag-over');
        if (!heroContent.contains(event.target)) {
            const file = event.dataTransfer.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    heroSection.style.backgroundImage = `url(${e.target.result})`;
                };
                reader.readAsDataURL(file);
            }
        }
    });

    let linkCount = 0;

    function addLink() {
        // Récupérer les valeurs des champs
        const linkName = document.getElementById("linkName").value
            ? document.getElementById("linkName").value
            : document.getElementById("mobileLinkName").value;

        const linkURL = document.getElementById("linkURL").value
            ? document.getElementById("linkURL").value
            : document.getElementById("mobileLinkURL").value;

        const links_nbr = document.querySelectorAll("#linkList li").length;
        alert(linkURL);
        alert(links_nbr);
        // Vérifier que les champs ne sont pas vides
        if (linkName && linkURL) {
            if (links_nbr < 6) {
                // Créer un nouvel élément <li>
                const newListItem = document.createElement("li");
                newListItem.className = "grid place-items-center lg:px-3";

                // Créer un lien <a> et y ajouter le nom et l'URL
                const newLink = document.createElement("a");
                newLink.href = linkURL;
                newLink.textContent = linkName;

                // Ajouter le lien à l'élément <li>
                newListItem.appendChild(newLink);

                // Ajouter l'élément <li> à la liste existante
                const list = document.getElementById("linkList");
                const mobileList = document.getElementById("mobileLinkList")

                mobileList.appendChild(newListItem);
                list.appendChild(newListItem.cloneNode(true));

                // Ajouter les inputs cachés
                const inputURL = document.getElementsByName(`nav-link-${links_nbr}-url`)[0]
                inputURL.value = linkURL;

                const inputName = document.getElementsByName(`nav-link-${links_nbr}-display`)[0]
                inputName.value = linkName;
                alert(`nav-link-${links_nbr}-display`);


                // Incrémenter le compteur de liens
                linkCount++;

                // Effacer les champs après l'ajout
                document.getElementById("linkName").value = "";
                document.getElementById("linkURL").value = "";
                document.getElementById("mobileLinkName").value = "";
                document.getElementById("mobileLinkURL").value = "";
            } else {
                    alert("Vous ne pouvez pas mettre plus de 6 liens");
                }
        } else {
            alert("Veuillez entrer un nom de lien et une URL");
        }
    }

    function removeAllLinks() {
        const list = document.getElementById("linkList");
        const mobileList = document.getElementById("mobileLinkList")
        list.innerHTML = ''; // Supprime tout le contenu de la liste
        mobileList.innerHTML = '';
    }

</script>