        <section id="hero" class="hero min-h-screen pad" style="background-image: url(../../../static/background_preview.png);">
            <input type="file" id="imageInput" accept="image/*" style="display: none;" />
            <div class="hero-overlay"></div>
            <div id="content" class="hero-content text-center bg-base-100 rounded-box p-8 sm:p-12 m-4">
                <article class="max-w-md">
                    <input
                            name="hero-title"
                            type="text"
                            placeholder="Titre"
                            value="{{ data["hero"]["title"] }}"
                            class="input border-dashed border-2 border-primary focus:border-gray-600 focus:outline-none mb-5 text-4xl sm:text-5xl text-primary font-bold placeholder-primary w-full py-8 text-center" />
                    <textarea name="hero-description" class="input border-dashed border-2 border-primary focus:border-gray-600 focus:outline-none textarea textarea-bordered w-full min-h-64 mb-5 text-lg sm:text-xl">
                        {{ data["hero"]["description"] }}
                    </textarea>
                </article>
            </div>
        </section>