<section class="bg-base-300 text-base-content py-12">
<div class="flex justify-center w-full">
<input
    name="hero-title"
    type="text"
    placeholder="Titre"
    value=""
    class="input border-dashed border-2 border-primary focus:border-gray-600 focus:outline-none mb-5 font-bold text-4xl sm:text-5xl text-primary text-center my-4 placeholder-primary p-4 w-96 h-16 bg-base-300" />
</div>
{% for membre in data["members"]["list"] %}
	    <div class="flex justify-center flex-wrap">
    <div class="flex flex-wrap justify-center">
        <div class="max-w-full flex justify-center m-4">
            <div class="flex flex-col items-center w-60 m-4">
                <div class="rounded-full w-48 h-48 overflow-hidden my-5 mx-10">
                    <img src="{% if data["members"][0]["image"] %}{{ url_for('route_tmp', ja=session["ja_id"], image=membre["image"]) }} {% endif %} {{ url_for('static', filename="add_image.svg") }}"  alt="profil" class="object-cover w-48 h-48 bg-white">
                </div>
                <p class="font-medium text-base-content">{{ membre["name"] }}</p>
                <p class="font-light text-base-content">{{ membre["name"]["role"] }}</p>
            </div>
        </div>
    </div>
{% endfor %}


    <div class="flex flex-wrap justify-center">
        <!-- Open the modal using ID.showModal() method -->
        <button class="btn" type="button" onclick="my_modal_1.showModal()">open modal</button>
        <dialog id="my_modal_1" class="modal">
          <div class="modal-box">
            <h3 class="text-lg font-bold">Hello!</h3>
              <input type="file" id="membreinput" name="members-0-image" accept="image/*" value=""/>
              <label for="nom">Nom du membre</label>
              <input type="text" id="nom" name="members-0-name">
              <label for="role">Role du membre dans l'association</label>
              <input type="text" id="role" name="members-0-role">
            <p class="py-4">Press ESC key or click the button below to close</p>
            <div class="modal-action">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn" type="submit">Ajouter</button>
            </div>
          </div>
        </dialog>
    </div>
    <div class="flex flex-wrap justify-center">
        <div class="max-w-full flex justify-center m-4">
            <div class="flex flex-col items-center w-60 m-4">
                <div class="rounded-full w-48 h-48 overflow-hidden my-5 mx-10">
                    <img src="./image/profil_2.jpeg" alt="profil" class="w-48">
                </div>
                <p class="font-medium text-base-content">Eloi</p>
                <p class="font-light text-base-content">Ingénieur en micro-plancton</p>
            </div>
        </div>
    </div>
</section>