<div class="drawer-side">
                <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
                <ul class="menu bg-base-200 min-h-full w-4/5 max-w-80 p-4 flex items-start">
                    {% for lien in data["nav"]["link"] %}
                                {% if lien["display"] %}
                                    <li class="grid place-items-center lg:px-3">
                                        <a href="{{  lien["url"] }}">{{  lien["display"] }}</a>
                                    </li>
                                {% endif %}
                            {%  endfor %}
                </ul>
            </div>