<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <title>Inscription</title>
  {% include 'tailwind.html' %}
</head>

<body>

  <section class="base-100 min-h-screen">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      {% if error %}

      <div id="toast-interactive"
        class="w-full max-w-xs p-4 text-gray-500 bg-white rounded-lg shadow dark:bg-gray-800 dark:text-gray-400 mb-2"
        role="alert">
        <div class="flex">
          <div class="ms-3 text-sm font-normal">
            <span class="mb-1 text-sm font-semibold text-gray-900 dark:text-white">Information</span>
            <div class="mb-2 text-sm font-normal">
              {{ error }}
            </div>
          </div>
          <button type="button"
            class="ms-auto -mx-1.5 -my-1.5 bg-white items-center justify-center flex-shrink-0 text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
            data-dismiss-target="#toast-interactive" aria-label="Close">
            <span class="sr-only">Fermer</span>
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
          </button>
        </div>
      </div>

      {% endif %}
      <a href="#" class="flex items-center mb-6 text-2xl font-semibold">
        <img class="w-8 h-8 mr-2" src="https://github.com/Devlowave-Org.png" alt="logo" />
        Devloweb
      </a>

      <div class="card w-96 bg-base-300 shadow-sm">
        <div class="card-body">
          <div class="flex justify-between">
            <h2 class="text-3xl font-bold">Créer un compte </h2>
            <span class="text-xl">🔥</span>
          </div>
          <form class="space-y-4 md:space-y-6" action="" method="post">
            <fieldset class="fieldset">
              <legend class="fieldset-legend">Adresse Email</legend>
              <label class="input validator">
                <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none"
                    stroke="currentColor">
                    <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                  </g>
                </svg>
                <input type="email" name="email" id="email" placeholder="example@gmail.com"
                  value="{{ request.form['email'] }}" required />
              </label>
            </fieldset>
            <fieldset class="fieldset">
              <legend class="fieldset-legend">Identifiant de votre JA</legend>
              <label class="input validator">
                <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14 4h-4C6.229 4 4.343 4 3.172 5.172S2 8.229 2 12s0 5.657 1.172 6.828S6.229 20 10 20h4c3.771 0 5.657 0 6.828-1.172S22 15.771 22 12s0-5.657-1.172-6.828S17.771 4 14 4" opacity="0.5"/><path fill="currentColor" d="M13.25 9a.75.75 0 0 1 .75-.75h5a.75.75 0 0 1 0 1.5h-5a.75.75 0 0 1-.75-.75m1 3a.75.75 0 0 1 .75-.75h4a.75.75 0 0 1 0 1.5h-4a.75.75 0 0 1-.75-.75m1 3a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 0 1.5h-3a.75.75 0 0 1-.75-.75M9 11a2 2 0 1 0 0-4a2 2 0 0 0 0 4m0 6c4 0 4-.895 4-2s-1.79-2-4-2s-4 .895-4 2s0 2 4 2"/></svg>
                <input ype="text" name="ja_id" id="ja_id" value="{{ request.form['ja_id'] }}" class="tabular-nums"
                  placeholder="JA-1234" pattern="JA-\d{4,5}" minlength="7" maxlength="8"
                  title="Must be JA- followed by 4 or 5 digits" />
              </label>
            </fieldset>

            <fieldset class="fieldset">
              <legend class="fieldset-legend">Mot de passe</legend>
              <label class="input validator">
                <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none"
                    stroke="currentColor">
                    <path
                      d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z">
                    </path>
                    <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
                  </g>
                </svg>
                <input type="password" name="password" id="password" placeholder="••••••••" required minlength="9"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                  title="Must be more than 8 characters, including number, lowercase letter, uppercase letter" />
              </label>
            </fieldset>
            <p class="validator-hint hidden">
              Votre mot de passe doit être d'au moins 8 caractères et doit contenir :
              <br />Au moins un chiffre
              <br />Au moins une lettre minuscule
              <br />Au moins une lettre majuscule
            </p>
            <label class="fieldset-label">
              <input type="checkbox" checked="checked" class="checkbox" />
              Se souvenir de moi
            </label>
            <div class="mt-6">
              <button class="btn btn-primary btn-block" type="submit" name="valider" id="valider" value="Valider">Créer
                mon compte</button>
          </form>
          <div class="divider">OU</div>
          <a href="/connexion" class="btn btn-secondary w-full">Connexion</a>
        </div>
      </div>
    </div>
    </div>
  </section>
</body>
</html>