@tailwind base;
@tailwind components;
@tailwind utilities;

.input-w-105px{
    width: 105px;
}
.input-w-145px{
    width: 145px;
}
.input-w-190px{
    width: 190px;
}
.input-w-250px{
    width: 450px;
}
.input-h-250px{
    height: 250px;
    @apply textarea resize-none
}
.border-editor{
    border: 1px solid gray;
}
.border-editor:focus{
    border: 3px solid orange;
}

.navbar{
    @apply h-44;
}
.list-items-center > li {
    @apply grid place-items-center;
}
.list-items-px > li {
    @apply lg:px-3;
}
.carousel-div > div {
    @apply carousel-item w-full flex-col items-center;
}
.carousel-title > div > h2 {
    @apply text-primary-content text-3xl sm:text-4xl pb-16 font-medium;
}
.carousel-iframe > div > iframe {
    @apply aspect-video rounded-box w-full;
}
